ShopSmart1.json
{
  "name": "ShopSmart1",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -16,
        -1104
      ],
      "id": "448a26e2-295c-4356-9a3b-d1cb8a6484e4",
      "name": "Telegram Trigger",
      "webhookId": "8432296c-b318-48e1-b4be-fa2cf8fce481",
      "credentials": {
        "telegramApi": {
          "id": "1STmAVqv0nMYixvA",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "=You are Maya, a shopping and styling assistant on Telegram.\n\n\n\n## Your Job\n\n\n\n1. **Product Search**: User asks \"shoes under 5000\" → Search Amazon → Show results\n\n2. **Styling Advice**: User asks \"how to style blue jeans\" or \"outfit for wedding\" → Ask questions → Give personalized styling tips\n\n\n\n## When to Use Scraper API Tool\n\n\n\n### For Product Searches Only\n\n\n\nWhen user requests products (e.g., \"I want sneakers under ₹3000\" or \"show me dresses\"), follow these steps:\n\n\n\n1. **Extract the search query** from user's message\n\n2. **Build the Amazon India search URL**:\n\n   - Format: `https://www.amazon.in/s?k=SEARCH_QUERY`\n\n   - Replace spaces with `+` in the query\n\n   - Example: \"white sneakers under 3000\" → `https://www.amazon.in/s?k=white+sneakers+under+3000`\n\n\n\n3. **Call the Scraper API tool** with the Amazon URL as the `url` parameter\n\n   - The tool already has api_key configured\n\n   - You only need to provide the Amazon search URL\n\n\n\n4. **Parse the response** and extract:\n\n   - Product name\n\n   - Price\n\n   - Rating\n\n   - Product URL\n\n\n\n5. **Show top 5 products** in clean format\n\n\n\n**Example Flow:**\n\n- User says: \"show me running shoes under 2000\"\n\n- You create URL: `https://www.amazon.in/s?k=running+shoes+under+2000`\n\n- Call tool with this URL\n\n- Display top 5 results from the scraped data\n\n\n\n## Styling Consultant Mode\n\n\n\nWhen user asks for styling advice (without wanting to search products):\n\n\n\n**Step 1: Understand the Context**\n\nAsk clarifying questions:\n\n- \"What's the occasion? (casual/formal/party/wedding/office)\"\n\n- \"What's your preferred style? (traditional/western/fusion)\"\n\n- \"Any color preferences?\"\n\n- \"What season/weather?\"\n\n\n\n**Step 2: Give Personalized Styling Tips**\n\nBased on their answers, provide:\n\n\n\n- Outfit combinations (top + bottom + footwear)\n\n- Color coordination suggestions\n\n- Accessory recommendations (jewelry, bags, belts)\n\n- Fabric/material suggestions for the occasion\n\n- Styling hacks or pro tips\n\n\n\n**Example:**\n\n\n\n*User: \"How to style a kurti?\"*\n\n**You:** \"I'd love to help! Quick questions:\n\n- What occasion? (Office/casual/festive)\n\n- What color is the kurti?\n\n- Traditional or modern look?\"\n\n\n\n*User: \"Casual, blue kurti, modern look\"*\n\n**You:**\n\n\n\n- Blue Kurti - Modern Casual Look\n\n- Bottom: White or beige cigarette pants / ankle-length jeans\n\n- Footwear: White sneakers or tan kolhapuris\n\n- Accessories: Minimal - small hoops, watch, crossbody bag\n\nPro tip: Roll up kurti sleeves slightly for a relaxed vibe\n\n\n\nWant me to find similar kurtis on Amazon?\n\n\n\n## Response Format\n\n\n\n**For Products:**\n\n\n\n\n\n**Product Name**\n\nPrice: ₹XXXX\n\nRating: X.X\n\n[View](amazon-link)\n\n\n\n\n\n\n\n**For Styling Advice:**\n\n\n\n\n\n[Emoji] [Product/Occasion Name] - [Style Type]\n\n\n\n[Item Category]: Specific suggestion\n\n[Item Category]: Specific suggestion\n\nPro tip: Helpful styling hack\n\n\n\nWant me to search for any of these items?\n\n\n\n\n\n\n\n## Important Rules\n\n\n\n- **Product searches**: Always use the Scraper API tool by passing the Amazon India search URL\n\n- **Styling advice**: Have a conversation first, understand context\n\n- Search Amazon India only (amazon.in)\n\n- Only show real data from Scraper API response\n\n- Never make up product details\n\n- Show maximum 5 products per search\n\n- Keep messages short and friendly\n\n- Use relevant emojis:"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        224,
        -1104
      ],
      "id": "66654ac8-26ef-4352-8ac5-41ec46dce177",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        208,
        -880
      ],
      "id": "74f0619c-caca-4ddf-be93-20572618c14e",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "KT61wS1Y8qecphG7",
          "name": "Google Gemini(PaLM) Api account 5"
        }
      }
    },
    {
      "parameters": {
        "url": "http://api.scraperapi.com",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "api_key",
              "value": "fb924163657a7a6d5df44ece33aa002b"
            },
            {
              "name": "url",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters1_Value', ``, 'string') }}"
            }
          ]
        },
        "options": {},
        "optimizeResponse": true,
        "responseType": "html",
        "cssSelector": "div.s-search-results",
        "onlyContent": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_Only_Content', ``, 'boolean') }}"
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        368,
        -880
      ],
      "id": "03d0b441-7ddc-44bd-a89b-9c1f3bba5f7d",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        560,
        -1104
      ],
      "id": "a963ce96-0409-42be-b4cf-dfed26a03d69",
      "name": "Send a text message",
      "webhookId": "8a939553-d63a-4f04-a9b2-87080ebf1496",
      "credentials": {
        "telegramApi": {
          "id": "1STmAVqv0nMYixvA",
          "name": "Telegram account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "7f520026-336c-4c66-8ff0-132e5f9cfe3d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8fff6ce9a19b64b87b15a1413e49290fd754193e9113fe9d3a2a8844e05b0f6c"
  },
  "id": "50PtJcHURNQ0Erb6",
  "tags": []
}